<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dry Aging Fridge Stats</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="static/jquery-3.4.1.min.js"></script>
  <script src="static/plotly-latest.min.js" charset="utf-8"></script>
  <script src="static/socket.io.slim.js"></script>
  <script type="text/javascript">
    var sample_time_ms = 60000;
    var layout = {"title": {"text": "Temperature and Humidity"}, "xaxis": {"title": {"text": "Time"}}, "yaxis": {"range": [0, 100]}, "margin": {"t": 50, "r": 50, "b": 50, "l": 50}, "legend": {"x": 1, "y": 0.5}};
    var config = {"responsive": true};

    // handle data updates
    const source = new EventSource("/data");
    source.onmessage = function (event) {
      var data = JSON.parse(event.data);
      Plotly.newPlot("plot", data, layout, config);
    }
  </script>
</head>

<body>

  <div id="header">
    <div id="left_third"></div>
    <div id="center_third"><h1 id="title">Dry Aging Fridge Stats</h1></div>
    <div id="right_third"></div>
  </div>

  <div id="plot_container"><div id="plot"></div></div>

</body>

</html>

